#vote-number {
  font-weight: bold;
  font-size: x-large;
  margin: 0 0.5em;
}

.votes {
  margin-right: 1.5em;
  display: flex;
  justify-content: end;
  align-items: center;
}

#error-message {
  margin: 1em;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
}
